.idea
*.o       # Object files
*.a       # Static libs
*.so      # Shared libs
*.d       # Dependency files (from -MMD)
*.out     # Executables
*.elf     # Embedded binaries
*.dSYM/   # macOS debug files
